/*
  Import Vanilla framework:
  https://docs.vanillaframework.io/
*/
@import "vanilla-framework-version-2.24.1.min.css";

html {
  overflow-y: hidden;
  height: 100%;
}

@media only screen and (min-width: 1681px) {
  html {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
}

body {
  overflow: hidden;
  overflow-y: scroll;
  height: 1vh;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #333;
  font-family: Ubuntu, Arial, "libra sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.logo,
.login-card {
  width: 90%;
  max-width: 439px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-align: center;
}

.logo__image {
  width: 132px;
}

.sso-buttons {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sso-button {
  border-color: #cdcdcd;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 195px;
  height: 9rem;
}

.sso-icon {
  margin-bottom: 0.5rem;
}

.sso-icon__image {
  height: 32px;
  width: auto;
}

.u-truncate--multiline {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

@media only screen and (min-width: 620px) {
  .sso-buttons {
    overflow: hidden;
  }

  .sso-button {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sso-button:nth-child(3n) {
    margin-right: 0 !important;
  }

  .sso-button--wide {
    width: 100%;
  }
}
